//theme
$accentColour: #FFD33E;
$menuHigh: #787878;
$menuLow: #1B1E22;
$menuBackground: #121417;
$mainBackground: #333642;

$button-colours: (
        d100: #a972cb,
        d20: #ef6eae, 
        d12: #ff7f82, 
        d10: #ffa260, 
        d8: #e4cb58, 
        d6: #8fc866, 
        d4: #19bc8b
    );



html {
    scroll-behavior: smooth;
}

body, button, input {
    color: w;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

button,
button:focus,
button:active {
	outline: none;
	padding: 0;
}

.diceTray {
    width: 100%;
    height: 100vh;
    background-color: $mainBackground;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 80px -10px black;
    position: absolute;
    display: grid;
    place-items: center;
    z-index: -1;


    .trayContainer {
        position: relative;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .diceBox:hover {
            .dice {
                filter: drop-shadow(0px 0px 15px white);
            }
        }

        .diceContext {
            position: absolute;
            z-index: 1;
        }

        .dice {
            color: black;
            position: relative;
            height: 8rem;
            width: 8rem;
            margin: 1rem;
            cursor: pointer;
            transform-origin: center;
            will-change: transform;
            transition: filter 0.2s linear, transform 0.2s linear;

            .diceText {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);
                font-weight: bolder;
                font-size: 1.2rem;
                margin-top: 5%;
            }

            .maxRoll {
                text-shadow: 0 0 5px gold;
            }

            .minRoll {
                text-shadow: 0 0 5px red;
            }

            .d20icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                color: white;
                z-index: -1;
                filter: drop-shadow(0px 0px 15px black);
            }
        }
    }
}

@keyframes roll {
    0% { transform: rotate(0deg) scale(1.5); filter: blur(5px); }
    
    100% { transform: rotate(1080deg) scale(1); filter: blur(0px); }
}

.diceMenu {
    background: $menuLow;
    box-shadow: 0px 0px 60px -10px black,
                inset 0px 0px 60px -10px black;

    position: fixed;
    width: 6rem;
    height: 100vh;
    box-sizing: border-box;

    .buttonContainer {
        background: yellow;
        height: 60vh;
        display: flex;
        flex-direction: column;
    }

    @each $type, $colour in $button-colours {
        .diceButton-#{$type} {
            background: $colour;
        }
    }

    button {
        border: none;
        height: (100% / 7);
        cursor: pointer;
        font-size: 1.5rem;
        transition: .25s;
    }

    button:hover,
    button:focus {
        filter: brightness(150%);
    }

    .modifierMenu {
        height: 30vh;
        display: flex;
        flex-direction: column;

        button {
            height: 33%;
        }
    
        input {
            color: whitesmoke;
            background: $menuLow;
            align-self: center;
            border: none;
            border-top: 5px solid $menuHigh;
            border-bottom: 5px solid $menuHigh;
            text-align: center;
            width: 100%;
            height: 33%;
            font-size: 2rem;
            text-overflow: ellipsis;
        }
    
        ::placeholder {
            font-size: 1rem;
            color: white; 
        }
    }

    .helpMenu {
        background-color: red;
        font-size: 2rem;
        height: 100%;
        text-align: center;
    }

}

.totalMenu {
    color: white;
    background-color: $menuBackground;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2%;
    bottom: 2%;
    font-size: 300%;
    max-width: 15%;
    min-width: 8%;
    border-radius: 20px;
    box-shadow: 0px 0px 40px -10px black;
    

    .totalResult {
        background-color: $menuLow;
        display: grid;
        place-items: center;
        font-size: 150%;
        border-radius: 20px;
        box-shadow: inset 0px 0px 20px -10px black;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .totalSum {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
